In [23]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [24]:
# Setup splinter 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/serendipitousfun/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [25]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [26]:
html = browser.html
soup= BeautifulSoup(html, "html.parser")

NASA Mars News

In [27]:
news_title = soup.find_all("div", {"class": "content_title"})[0].text
news_title

"Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter"

In [28]:
news_p = soup.find_all("div", {"class": "article_teaser_body"})[0].text
news_p

'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'

In [29]:
mars = {}

In [30]:
mars["news_title"]= news_title
mars["news_p"]= news_p

JPL Mars Space Images - Featured Image

In [31]:
url2 = "https://spaceimages-mars.com/"
browser.visit(url2)

In [32]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [33]:
html = browser.html
soup= BeautifulSoup(html, "html.parser")

In [34]:
featured_image_url = soup.find("img", {"class":"fancybox-image"})['src']
featured_image_url

'image/featured/mars1.jpg'

In [35]:
featured_image_url = url2+featured_image_url
featured_image_url
mars["featured_image_url"] = featured_image_url

Mars Facts

In [36]:
url3 ="https://galaxyfacts-mars.com/"
df = pd.read_html(url3)[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [37]:
df.columns = ["Description", "Mars", "Earth"]
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [38]:
df.set_index('Description', inplace= True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [39]:
facts = df.to_html()

In [40]:
mars["facts"]= facts

Mars Hemispheres

In [41]:
url4 = "https://marshemispheres.com/"
browser.visit(url4)

In [42]:
hemisphere_image_urls = []
links = browser.find_by_css("a.product-item img")

for x in range(len(links)):
    hemisphere = {}
    browser.find_by_css("a.product-item img")[x].click()
    element = browser.links.find_by_text('Sample').first
    hemisphere["img_url"] = element['href']
    hemisphere["title"] = browser.find_by_css("h2.title").text
    hemisphere_image_urls.append(hemisphere)
    browser.back()
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [43]:
mars["hemisphere_image_urls"]= hemisphere_image_urls

In [44]:
mars

{'news_title': "Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter",
 'news_p': 'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_image_urls': [{'img_url': 'https://marshemispheres.com/images/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}

In [45]:
browser.quit()